altgraph==0.17.3
Brotli==1.0.9
colorama==0.4.6
fileid==0.2.1
future==0.18.3
inflate64==0.3.1
multivolumefile==0.2.3
pefile==2022.5.30
psutil==5.9.4
py7zr==0.20.2
pybcj==1.0.1
pycryptodomex==3.16.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
pyppmd==1.0.0
pywin32-ctypes==0.2.0
pyzstd==0.15.3
texttable==1.6.7
tqdm==4.64.1
uuid==1.30
